.detail-area h1{
	font-weight: bold;
	margin: 0 0 20px;
}
.detail-area .prod-image{
	display: block;
	max-width: 400px;
	height: auto;
	margin: 0 auto 20px;
}
.detail-area .info-table{
	width: 100%;
	margin: 0 0 25px;
}
.detail-area .info-table td{padding: 0 20px 7px 0;}
.detail-area .info-table tr td:first-child span{
	white-space: nowrap;
	display: inline-block;
	font-weight: bold;
	border-bottom: 1px dashed #333;
}
.detail-area .item-info{
	padding: 0 0 15px;
	font-size: 0;
	line-height: 0;
	letter-spacing: -6px;
}
.detail-area .item-info li{
	display: inline-block;
	vertical-align: top;
	padding: 5px 20px 5px 0;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0;
	font-weight: bold;
}
.detail-area .item-info a{
	float: left;
	position: relative;
	padding-left: 20px;
}
.detail-area .item-info a:after{
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	content: '';
	background: url(../content/images/ico-pdf.png) no-repeat;
}
.prod-description{
	margin: 0 0 40px;
	overflow: hidden;
}
.prod-description li{
	padding: 0 0 5px;
}
.prod-description .title{
	display: inline-block;
	border-bottom: 1px dashed #333;
	margin: 0 0 5px;
}
.prod-description p{margin: 0 0 10px;}
/* #info-section .slide-opener{
	display: none;
	text-align: right;
}
#info-section .slide-opener span{
	font-weight: bold;
	cursor: pointer;
	color: #e21b23;
} */
.specs-area .specs-heading{
	font-size: 14px;
	line-height: 25px;
	border-bottom: 1px solid #c5c9e2;
	padding-left: 25px;
	margin: 0 0 10px;
}
.specs-area .specs-heading:after{
	clear: both;
	display: block;
	content: '';
}
.specs-area .specs-heading strong{
	position: relative;
	float: left;
	border-top: 1px solid #c8cce4;
	background: #fff;
	padding: 0 15px;
	margin: 0 0 -1px;
}
.specs-area .specs-heading strong:before,
.specs-area .specs-heading strong:after{
	position: absolute;
	top: -1px;
	left: 0;
	content: '';
	width: 8px;
	height: 26px;
	background: url(../content/images/bg-specs-heading.png) no-repeat;
}
.specs-area .specs-heading strong:after{
	left: auto;
	right: 0;
	background-position: 100% 0;
}
.specs-table{
	overflow: hidden;
	border: 1px solid #c5c9e2;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.specs-table table{width: 100%;}
.specs-table tr.heading td{
	background: #eef1fa;
	font-weight: bold;
	padding: 5px;
}
.specs-table td{
	vertical-align: top;
	width: 50%;
	padding: 3px;
}
@media only screen and (max-width: 991px) {
	.detail-area .prod-image{width: 100%;}
}